<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MainPage</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link href="../css/style.my.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <style>
        main{
            min-height: 500px;
        }
    </style>
</head>
<body >

<div class="myBg"></div>
<div class="container py-3 bg-white">
    <header class="mb-3 border-bottom">

    </header>
    <main>
       <div>
           <div class="input-group input-group-lg mt-lg-5 mb-lg-5">
               <input type="text" class="form-control">
               <button class="btn btn-info text-white" type="button"><i class="bi bi-search m-2"></i>搜索</button>
           </div>

           <div class="g-0 p-2 border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
               <div class="app-url-container">

               </div>
           </div>

           <div class="g-0 p-2 border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
               <div class="app-file-container">

               </div>
           </div>
       </div>

    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2021 Company, Inc</p>
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>


<script src="../bootstrap/js/bootstrap.bundle.js" charset="utf-8"></script>
<script src="../js/alcprj.js" charset="utf-8"></script>
<script>

    $.LoadUserIcon(function (url){
        $(".user-icon").attr("src",url);
    })
    $(".app-url-container").GetAppUrl();
    $(".app-file-container").GetAppFile();

</script>
</body>
</html>
